#after_login {
    font-weight: bold;
}

#news1 {
    display: inline-block;
    font-weight: bold;
}

#news2 {
    font-weight: bold;
}

gmp-map {
    height: 100%;
}

#tweet {
    display: inline-block;
}

#map {
    display: inline-block;
}

